In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/immortal_games.csv')

In [4]:
df.shape

(677950, 14)

In [5]:
df.isna().sum()

match_id             0
match_seq_num        0
radiant_win          0
start_time           0
duration             0
avg_mmr          63885
num_mmr          63885
lobby_type           0
game_mode            0
avg_rank_tier        0
num_rank_tier        0
cluster              0
radiant_team         0
dire_team            0
dtype: int64

In [6]:
df = df.drop(columns = ['avg_mmr', 'num_mmr'])

In [7]:
df = df[['match_id', 'start_time', 'duration', 'game_mode', 'avg_rank_tier', 'radiant_team', 'dire_team', 'radiant_win']]

In [8]:
df = df.drop_duplicates()

In [9]:
df.head(5)

,match_id,start_time,duration,game_mode,avg_rank_tier,radiant_team,dire_team,radiant_win
0,7219927210,1687975187,3708,22,81,"9,128,2,114,121","105,120,10,61,100",True
1,7219928100,1687975232,1519,22,81,"128,22,63,120,71","58,106,56,40,44",True
2,7219928202,1687975232,1315,22,81,"78,40,23,11,31","9,1,25,20,103",True
3,7219928405,1687975228,1781,22,81,"90,2,8,64,82","104,40,89,76,71",True
4,7219932418,1687975442,2059,22,81,"31,62,35,18,129","11,120,86,61,17",True

In [10]:
duplicates = df.groupby('match_id').filter(lambda x: len(x) > 1)

duplicate_match_ids = duplicates['match_id'].unique()

In [11]:
duplicate_match_ids

array([7193476915, 7193485005, 7193486103, ..., 6918964503, 6918966212,
       6918968613], dtype=int64)

In [13]:
df[df['match_id'] == 7193476915].head(5)

,match_id,start_time,duration,game_mode,avg_rank_tier,radiant_team,dire_team,radiant_win
3000,7193476915,1686359232,4057,22,81,"114,112,34,87,2","12,105,22,40,102",False
3100,7193476915,1686359232,4057,22,81,"2,114,87,34,112","102,12,40,22,105",False
3200,7193476915,1686359232,4057,22,81,"2,34,87,114,112","102,22,40,12,105",False
3400,7193476915,1686359232,4057,22,81,"114,2,112,34,87","12,102,105,22,40",False
3600,7193476915,1686359232,4057,22,81,"2,112,34,87,114","102,105,22,40,12",False

In [14]:
df['radiant_team'] = df['radiant_team'].apply(lambda x: frozenset(map(int, x.split(','))))

In [15]:
df['dire_team'] = df['dire_team'].apply(lambda x: frozenset(map(int, x.split(','))))

In [16]:
df = df.drop_duplicates(subset=['match_id', 'radiant_team'])

In [22]:
len(df)

40079

In [19]:
df['radiant_team'] = df['radiant_team'].apply(lambda x: list(x))

In [20]:
df['dire_team'] = df['dire_team'].apply(lambda x: list(x))

In [45]:
df = df[['match_id', 'start_time', 'duration', 'game_mode', 'avg_rank_tier', 'radiant_team', 'dire_team', 'radiant_win']]

In [ ]:
df.to_csv('data/immortal_games_v2.csv', index=False)